
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors

$primary:#28a745;
$secondary:#4d4f53;
$bgP:#1E1E1E;
$bgS:#0099cc;