@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Toastr
@import '~toastr/toastr.scss';

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(40,167,69, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.navbar-light .navbar-toggler {
  border-color:rgba(40, 167, 69, 1);
}


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.home-form{
  & > div {
    height:50px;
  }
  button {
    height:50px;
  }
 }

 .rounded-0 {
   height: 100%;
 }
 

//home styles
#home {
  .header {
    height:600px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4),rgba(0, 0, 0, .8)), url('../img/pic_1.jpg');
    background-size: cover;
    .header-img {
      height:100%;
      display:flex;
      align-items: center;
      .header-form{
        display:flex;
        justify-content:center;
        .form-row {
          @include media-breakpoint-down(sm) {
            flex-direction: column;
          }
          @include media-breakpoint-down(xs) {
            flex-direction: column;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      height: 400px;
    }
    @include media-breakpoint-down(xs) {
      height: 340px;
    }
  }
}


//Oferta empresa Style
#ofertaempresa{
  .header {
    height:600px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4),rgba(0, 0, 0, .8)), url('../img/offer.jpg');
    background-size: cover;
    
    .header-img {
      height:100%;
      display:flex;
      justify-content:center;
      align-items: center;
      h2 {
        text-align: center;
        color:white;
        text-shadow: 1px 2px 3px $primary;
        text-transform: uppercase;
      }
    }
    @include media-breakpoint-down(sm) {
      height: 400px;
      h2 {
        font-size: 1.7rem;
      }
    }
    @include media-breakpoint-down(xs) {
      height: 340px;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  //ofertaempresa > aside
  aside {
    
    .aside-content {
      height: 555px;
      h2 {
        line-height: 1.6;
        font-size: 1.7rem;
        font-weight: 900;
        padding: 0.375rem 0.75rem;
        border-bottom: 2px solid #4d4f53 !important;
      }
      p {
        line-height: 1.2rem;
      }
      div {
        margin-bottom: 1.5rem;
        p {
          &:first-child{
            font-weight: 900;
          }
        }
      }
      
      .inscritos {
        margin-top: 3rem;
        color: $bgP;
      }
      .pendientes {
        color: $secondary;
      }
      .aceptados {
        color: $primary;
      }
      .rechazados {
        color: red;
      }
    }
    @include media-breakpoint-down(sm) {
      .aside-content {
        padding: 0 30px;
        height:270px;
        p {
          margin-left:.3rem;
        }
        div {
          margin-bottom: 0.5rem!important;
          display:flex;
        }
        .inscritos {
          margin-top: 1rem;
        }
      }
    }
    @include media-breakpoint-down(xs) {
    order:-1;
    }
  }

  hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 18px 18px -18px rgba(0, 0, 0, 0.5);
    margin:0;
  }
  //filters form
  .filters {
    background-color: $bgP;
    .form-filter {
      padding: 40px 0;
    }
    .add-offer{
      margin-bottom:40px;
      .form-content {
        display: flex;
        flex-direction: row;
        .form-group {
          &:first-child {
            label {
              display:block;
            }
          }
        }
      }
      .form-group {
        label {
          font-weight: 900;
        }
        input::placeholder, input, textarea, textarea::placeholder, select {
          background-color: $bgP;
          color: $primary;
        }
        input[type=number] {
          height: 30px;
          line-height: 30px;
          font-size: 16px;
          padding: 0 8px;
        }  
        input[type=number] {
          -moz-appearance: textfield;
        }
      
      }
    }
    @include media-breakpoint-down(sm) { 
      .form-filter {
        padding: 20px 0;
        .form-row{
          width:60%;
          justify-content: center;
          .button-2 {
            order:-1;
          }
        }
      }
    }
    @include media-breakpoint-down(xs) { 
      .form-filter {        
        padding: 20px 0;
        .form-row{
          width:60%;
          justify-content: center;
          .button-2 {
            order:-1;
          }
        }
      }
    }
  }
  .container {
    
    &:nth-child(2) {
      padding: 120px 0 50px 0;
      
    }

    hr {
      border: 0; height: 1px; 
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); 
      margin:20px 0;
    }

    form:first-child {
      display: flex;
      justify-content: center;
    }
    .oferts{
      margin-top:4rem;
      @include media-breakpoint-down(sm) {
        margin-top:3rem;
      }
      @include media-breakpoint-down(xs) {
      margin-top:2rem;
      }
      //oferta styles taking out all form styles
      .oferta {
        display: flex;
        .form-group {
          .form-control:disabled, .form-control[readonly] {
            background-color: white;
            opacity: 1;
            border: none;
          }
          textarea {
            resize: none;
          }
          select:disabled {
            background-color: white;
            opacity: 1;
            border: none;
            -webkit-appearance: menuitem;
            -moz-appearance: menuitem;
            appearance: menuitem;
          }
          label {
            display:block;
            padding-left:10px;
            font-weight:900;
            font-size:1rem;
          }
          
          input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
          }
          input[type=number] {
            -moz-appearance: textfield;
          }
          &:first-child {
            label {
              display:none;
            }
            input {
              font-size:1.7rem;
              font-weight:900;
              border-bottom: 2px solid $secondary!important;
            }
          }
        }
        .form-content {
          display: flex;
          flex-direction: row;
          .form-group {
            &:first-child {
              label {
                display:block;
                font-weight:900;
              }
              input {
                font-size: 0.9rem;
                font-weight:400;
                border:none!important;
              }
            }
          }
        }
        .buttons-container {
          display: flex;
          justify-content: space-around;
          button{
            width:150px;
          }
          @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: center;
            button {
              margin: 5px auto;
            }
          }
        }
      }
      nav {
        border-top: solid 4px $bgP;
        padding-top:20px;
        margin-top:20px;
        padding-bottom: 60px;
        .pagination {
          display:block;
          .page-link {
            width:100px;
            text-align: center;
            background-color: $bgP;
          }
          .next {
            float:right;
          }
          .bef {
            float: left;
          }
        }
      }
    }
    //styles edit oferta form
    .editandoOferta {
      .buttons-container {
        display: flex;
        justify-content: space-around;
        button{
          width:150px;
        }
      }
    }
  }
}

#ofertasolicitante {
  .header {
    border-bottom: 30px solid $secondary;
    height:630px;
    background-image:linear-gradient(to right, rgba(0,0,0, .4), rgba(0,0,0, .3),rgba(0,0,0, .4)), url('../img/pic_2.jpg');
    background-size: cover;
    
    .header-img {
      height:100%;
      display:flex;
      justify-content:center;
      align-items: center;
      h2 {
        text-align: center;
        color:white;
        text-shadow: 1px 2px 3px $primary;
        text-transform: uppercase;
      }
    }
    @include media-breakpoint-down(sm) {
      height: 430px;
      h2 {
        font-size: 1.7rem;
      }
    }
    @include media-breakpoint-down(xs) {
      height: 370px;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  .offerts {
    padding: 100px 0;
    .blog-oferts {
      .card {
        margin-bottom: 30px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        .card-header {
          background-color: $bgP;
        }
        .card-body {
          .button-box {
            display:flex;
            justify-content: center;
            button {
              width:150px;
            }
          }
          .label {
            font-size: 1rem;
            font-weight: 900;
          }
          .input {
            margin-bottom:30px;
          }
        }
      }
      nav {
        border-top: solid 4px $bgP;
        padding-top:20px;
        margin-top:20px;
        padding-bottom: 60px;
        .pagination {
          display:block;
          .page-link {
            width:100px;
            text-align: center;
            background-color: $bgP;
          }
          .next {
            float:right;
          }
          .bef {
            float: left;
          }
        }
      }
    }
    aside {
      
      .aside-content {
        height: 480px;
        h2 {
          line-height: 1.6;
          font-size: 1.7rem;
          font-weight: 900;
          padding: 0.375rem 0.75rem;
          border-bottom: 2px solid #4d4f53 !important;
        }
        p {
          line-height: 1.2rem;
        }
        div {
          margin-bottom: 1.5rem;
          p {
            &:first-child{
              font-weight: 900;
            }
          }
        }
        
        .inscritos {
          margin-top: 3rem;
          color: $bgP;
        }
        .pendientes {
          color: $secondary;
        }
        .aceptados {
          color: $primary;
        }
        .rechazados {
          color: red;
        }
      }
      @include media-breakpoint-down(sm) {
        .aside-content {
          padding: 0 30px;
          height:270px;
          p {
            margin-left:.3rem;
          }
          div {
            margin-bottom: 0.5rem!important;
            display:flex;
          }
          .inscritos {
            margin-top: 1rem;
          }
        }
      }
      @include media-breakpoint-down(xs) {
      order:-1;
      }
    }
    hr {
      height: 12px;
      border: 0;
      box-shadow: inset 0 18px 18px -18px rgba(0, 0, 0, 0.5);
      margin:0;
    }
  }
}

#inscripcionesempresa {
  .header {
    height:600px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4),rgba(0, 0, 0, .8)), url('../img/pic_3.jpg');
    background-size: cover;
    
    .header-img {
      height:100%;
      display:flex;
      justify-content:center;
      align-items: center;
      h2 {
        text-align: center;
        color:white;
        text-shadow: 1px 2px 3px $primary;
        text-transform: uppercase;
      }
    }
    @include media-breakpoint-down(sm) {
      height: 400px;
      h2 {
        font-size: 1.7rem;
      }
    }
    @include media-breakpoint-down(xs) {
      height: 340px;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  table {
    thead {
      tr{
        border: 1px solid $primary;
        background-color: $bgP;
        color: $primary; 
        text-align: center;
        th {
          border-right: 1px solid white;
        }
      }
    }
    tr {
      border: 1px solid $secondary;
      background-color: $bgP;
      color: $secondary; 
      
      &:nth-child(2n) {
        border: 1px solid $primary;
        background-color: $bgP;
        color: primary; 
      }
      &:nth-child(2n+1) {

      }
    }
  }
}

#inscripciones-solicitante {
  .header {
    height:600px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4),rgba(0, 0, 0, .8)), url('../img/pic_5.jpg');
    background-size: cover;
    background-position: 50% 60%;
    
    .header-img {
      height:100%;
      display:flex;
      justify-content:center;
      align-items: center;
      h2 {
        text-align: center;
        color:white;
        text-shadow: 1px 2px 3px $primary;
        text-transform: uppercase;
      }
    }
    @include media-breakpoint-down(sm) {
      height: 400px;
      h2 {
        font-size: 1.7rem;
      }
    }
    @include media-breakpoint-down(xs) {
      height: 340px;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  .general-container {
    padding: 100px 0;
  
    table {
        .bg-success {
          background-color: $secondary!important;
          td {
            color: white;
            text-align: center;
            i {
              font-size: 1.3rem;
              &:first-child {
                margin-right:10px;
              }
            }
            &:nth-child(2) {
              background-color: $primary;
            }
          }
        }
        .bg-danger {
          background-color: $secondary!important;
          td {
            color: white;
            text-align: center;
            i {
              font-size: 1.3rem;
              &:first-child {
                margin-right:10px;
              }
            }
            &:nth-child(2) {
              background-color: red;
            }
          }
        }
      }
  }
}
#perfil {
  .header {
    height:600px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4),rgba(0, 0, 0, .8)), url('../img/back.gif');
    background-size: cover;
    .header-img {
      height:100%;
      display:flex;
      justify-content:center;
      align-items: center;
      .img-perfil-container{
        display:flex;
        justify-content:center;
        .img-perfil-box {
          width:400px;
          height: 400px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $bgP;
          box-shadow:1px 1px 10px 10px $primary;
          .img-perfil {
            width:300px;
            height:300px;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: white;
            background-position: 50% 50%;
            border-radius: 50%;
            border: 2px solid $bgS;
            @include media-breakpoint-down(sm) {
              height: 100px;
              width:100px
            }
            @include media-breakpoint-down(xs) {
              height: 50px;
              width:50px;
            }
          }
          @include media-breakpoint-down(sm) {
            height: 200px;
            width:200px
          }
          @include media-breakpoint-down(xs) {
            height: 100px;
            width:100px;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      height: 400px;
    }
    @include media-breakpoint-down(xs) {
      height: 340px;
    }
  }
}


.primary {
  color: $primary !important;
  background-color: $bgP !important;
}

.primaryC {
  color: $primary !important;
}

.dropdown-item:hover {
  background-color:$bgP;
}
.dropdown-item:hover a {
color:white!important;
}
.dropdown-divider {
  border-color: $primary;
}

.secondary {
  color: $secondary !important;
  background-color: $bgS !important;
}

.navbar ul li a {
  color:$primary!important; 
}
.navbar ul li a:hover {
  color:white!important;
}
.navbar-brand {
  color:$primary!important;
}
.navbar-brand a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand a {
  font-weight: bold;
}
.navbar-brand a:hover {
  text-decoration: none;
  -webkit-animation: neon 1s ease-in-out infinite alternate;
  -moz-animation: neon 1s ease-in-out infinite alternate;
  animation: neon 1s ease-in-out infinite alternate;
}
.navbar-brand a:hover .fade {
  animation: fade 3s infinite;
}


.navbar-brand a svg g path, circle {
  stroke: $primary;
  fill:$primary;
}

.rol-information-section {
  padding: 120px 15px;
  .rol-container {
    .bs-example {
      justify-content: space-between;
      h2 {
        padding: 0 0 50px 0;
        text-align: center;
      }
      .row {
        justify-content: space-between; 
        .box-home {
          transition: all .6s;
          box-shadow: 5px 5px 30px 2px $secondary;
          border-radius:10px;
          border:1px solid lightgray;
          justify-content: center;
          
          .thumbnail {
            padding:20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i {
              transition: box-shadow 2s;
              box-shadow: 0 0 0;
              border: 1px solid white;
              transition: all .6s;
              background: black;
              color:white;
              padding: 35px 42px 35px 42px;
              font-size: 45px;
              border-radius: 50%;
            }
          }
          .caption {
            padding-top: 20px;
            &>*{
              transition: all .6s;
              text-align: center;
            }
          }
          &:nth-child(2) {
              .thumbnail i{
              padding:35px;
              } 
          }

          &:hover {
            box-shadow: 1px 1px 30px 2px $primary;
            background-color: $bgP;
            i {
              
              border: 1px solid $secondary;
              color:$bgP;
              background-color:$primary;
            }
            .caption{
              color: white;
              &>* {
                text-shadow: 1px 1px 2px $primary;
              }
            }
          }
          @include media-breakpoint-down(sm) {
           margin-top: 30px;
          }
          @include media-breakpoint-down(xs) {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #28a745, 0 0 40px #28a745, 0 0 70px #28a745, 0 0 80px #28a745, 0 0 100px #28a745, 0 0 150px #28a745;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #28a745, 0 0 20px #28a745, 0 0 35px #28a745, 0 0 40px #28a745, 0 0 50px #28a745, 0 0 75px #28a745;
  }
}

body i {
  font-family: 'FontAwesome';
}

// Color Variables
$black: #000;
$pink: #ff00ff;
$teal: #28a745;

// Resets

// SVG Styles
#OTM-Logo {
  filter: url(#glow);
}

// OutSide Color

// The and March Color
.logo-the,
.logo-march {
  fill: $teal;
}
.fade:not(.show){
  opacity: 1!important;
}
// Animation Classes
.fade .random3 path {
stroke:$primary;
fill:$primary;
}


// Animations
@keyframes fade {
  0%, 100% {
    opacity: 0.7;
    filter: url(#glow);
  }
  50% {
    opacity: 1;
    filter: url(#glow);
  }
}

.clear {
  clear:both;
}

.enlaces-component {
  text-align: center;
  hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 18px 18px -18px rgba(255, 255, 255, 0.5);
    margin:0;
  }
}

  .enlace-container{
    background-color: $bgP;
    border-top:2px solid $primary;
    .mostrarEnlaces {
      padding: 30px 0;
      .badge-light {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }

  .datos-personales {
    padding: 100px 15px;
    h3,h2 {
      margin: 2rem 0 1.3rem 0;
      border-bottom: 2px solid $bgP;
      padding-bottom: 1rem;
    }
    h3 {
      padding-bottom: 1.25rem;
    }
  }

.link-group {
  display: flex;
  justify-content: center;
  .link-group-item {
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    .badge-pill{
      padding: 10px;
      box-shadow: 1px 1px 2px 2px white;
      .pill {
        display: flex;
        align-items: center;
        a {
          color: white;
          margin: 5px;
        }
        i {
          font-size: 1.2rem;
          color:red;
          display: none;
          &:first-child{
            color:$primary;
          }
        }
      }
    }
    &:hover {
      .badge-pill{
        padding: 6.5px 10px; 
        .pill {
          i {
            display:inline-flex;
          }
        }
      }
    }
  }
}
#proyectos-view {
  background-color: $bgP;
  .first {
    padding-top: 50px;
    border-bottom: 10px solid #2f2f31;
    padding-bottom: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  .box-port {
    padding-top: 100px;
  
    .title {
      display: flex;
      justify-content: space-between;
      padding-bottom:5px;
      border-bottom: 5px solid $primary;
      margin-bottom: 2rem;
      align-items: baseline;
      h2 {
        font-weight: 900!important;
        color:white;
        
      }
      h4 {
        font-weight: 900!important;
        color:$primary;
        text-transform: uppercase;
        font-size: 1.3rem;
      }
    }
  }
  .portfolio-group {
    .portfolio-item {
      .card {
        background-color: #2f2f31;
        padding-bottom:.3rem;
          color: #999999;
          .card-body {
            padding:0.5rem;
            .image {
              width: 100%;
              background-size: cover;
              background-position: 50% 50%;
              height: 250px;
            }
            .buttons {
              display: flex;
              justify-content: center;
              a {
                margin: 15px 10px;
              }
            }
            .content {
              margin-top: .3rem;
              display: flex;
              justify-content: space-between;
            }
            .time {
              display: flex;
              justify-content: flex-end;
              border-top: 1px solid #999999;
            
              p {
                margin:0;
              }
            }
            .card-text {
              order:1;
            }
          
        }
      }
    }
    .navigation {
      padding-top:5px;
      border-top: 5px solid $primary;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      .pagination {
        margin-top: 1.3rem;
      }
    }
  }
  .navigation {
    padding-top:5px;
    border-top: 5px solid $primary;
    margin-top: 2rem;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    .pagination {
      margin-top: 1.3rem;
    }
  }
}

#portfolios {
  background-color: $bgP;
  .header {
    height:600px;
    background-image:url('../img/portfolio.png');
    background-size: cover;
    .header-img {
      height:100%;
      display:flex;
      align-items: center;
    }
    @include media-breakpoint-down(sm) {
      height: 400px;
    }
    @include media-breakpoint-down(xs) {
      height: 340px;
    }
  }
  .box-port {
    padding: 100px 15px;;
  
    .title {
      display: flex;
      justify-content: space-between;
      padding-bottom:5px;
      border-bottom: 5px solid $primary;
      margin-bottom: 2rem;
      align-items: baseline;
      h2 {
        font-weight: 900!important;
        color:white;
        
      }
      h4 {
        font-weight: 900!important;
        color:$primary;
        text-transform: uppercase;
        font-size: 1.3rem;
      }
    }
  }
  .portfolio-group {
    .portfolio-item {
      .card {
        background-color: #2f2f31;
        padding-bottom:.3rem;
        a {
          color: #999999;
          .card-body {
            padding:0.5rem;
            .image {
              width: 100%;
              background-size: cover;
              background-position: 50% 50%;
              height: 250px;
              background-image:url('../img/proyecto.jpg');
            }
            
            .content {
              margin-top: .3rem;
              display: flex;
              justify-content: space-between;
            }
            .time {
              display: flex;
              justify-content: flex-end;
              border-top: 1px solid #999999;
            
              p {
                margin:0;
              }
            }
            .card-text {
              order:1;
            }
          }
        }
      }
    }
  }
  .navigation {
    padding-top:5px;
    border-top: 5px solid $primary;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    .pagination {
      margin-top: 1.3rem;
    }
  }
}